body {
    background-color: #a6a6a6;
}

table,
tr,
th,
td {
    padding: 3px;
    border: 1;
}

.list {
    overflow-y: auto;
    height: 580px;
}

.list thead th {
    position: sticky;
    top: 0;
}

.big {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.big:hover {
    text-overflow: inherit;
    white-space: pre-wrap;
    overflow: visible;
}

th {
    background-color: darkslategray;
    color: lightgray;
    max-width: 300;
}

.even {
    background-color: #e7e6e6;
}

.odd {
    background-color: #ffffff;
}

.dead {
    background-color: #7e3517;
}

.hidden {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

.spinner {
    display: inline-block;
    position: fixed;
    top: 14%;
    left: 15%;
    width: 80px;
    height: 80px;
}

.spinner:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
